<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item class="item-toggle">
        Use this name
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" ng-model="fName">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="lName">
      </label>
        
    </ion-list>
      
    <div class="list card">
      <div class="item item-divider item-icon-left">
          <i class="button button-small button-clear button-positive icon ion-star"></i>
          Coming Soon</div>
      <div class="item item-body">
        <div>
          Today's weather<br>
          Today's quote of the day<br>
          and many more..
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
